#home {
    height: 100vh;
    background-image: url(../image/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    .banner-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        p {
            font-family: "Kaushan Script";
            font-size: 72px;
            color: #fff;
            margin-bottom: 41px;
            

        }
        h1 {
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            font-size: 150px;
            text-transform: uppercase;
            color: #fff;
        }
        .divider {
            width: 60px;
            height: 3px;
            background-color: #fff;
            margin: 71px auto 50px;

        }
        button {
            background-color: transparent;
            border: 3px solid #fff;
            padding: 15px 30px;
            color: #fff;
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
        }
    }
}
